<div class="hero-unit">
  <h1>{{ pageTitle }}</h1>
  
  <div>
    <h3 align="center">{{ _txt['setting_shops'][lng] }}</h3>
  	<div ng-if="shops.length==0">{{ _txt['setting_no_shops'][lng] }}</div>
  	
  	<table class="table table-hover table-striped" ng-if="shops.length>0">
  		<tr ng-repeat="shop in shops">
  			<td>
  				<span class="settings-shop-name">{{ shop.name }}</span>
  				<span class="settings-shop-url">{{ shop.url }}</span>
          <span class="settings-shop-type-{{ shop.type }}"></span>
  			</td>
  			<td width="40" align="right">
  				<span class="settings-shop-remove btn btn-danger btn-lg" ng-click="remove(shop)"><i class="icon-trash" style="-webkit-filter: invert(1);filter: invert(1);"></i></span>
  			</td>
  		</tr>
  	</table>
  	
  	<form name="settingsForm" id="settingsForm" class="settings-form" ng-submit="submit()" ng-controller="SettingsCtrl">
	  	<h3 align="center">{{ _txt['Add_shop'][lng] }}</h3>
      <p class="form-group">
        <small>{{ _txt['setting_shop_name'][lng] }}</small><br>
        <input type="text" name="name" class="form-control" placeholder="{{ _txt['setting_shop_name_example'][lng] }}" ng-model="name"></p>
  		<p class="form-group">
        <small>{{ _txt['setting_shop_behawk'][lng] }}</small><br>
        <input type="text" name="behawk" class="form-control" placeholder="behawk" ng-model="behawk" value="{{ behawk }}"></p>
	  	<p class="form-group has-feedback">
        <small>{{ _txt['setting_shop_urlprotocol'][lng] }}</small><br>
        <select name="urltype" class="form-control settings-urltype" ng-model="urltype">
          <option ng-repeat="urltype in ['http://','http://www.','https://','https://www.']" value="{{ urltype }}">{{ urltype }}</option>
        </select>
      </p>
      <p class="form-group has-feedback">
        <small>{{ _txt['setting_shop_url'][lng] }}</small><br>
	  		<input type="text" name="url" class="form-control settings-url" placeholder="yourshop.com" ng-model="url">
	  		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
	  	</p>
	  	<p class="form-group has-feedback">
        <small>{{ _txt['setting_shop_cms_type'][lng] }}</small><br>
	  		<select name="type" class="form-control" ng-model="type">
		  		<option ng-repeat="type in types" value="{{ type.id }}" >{{ type.name }}</option>
	  		</select>
	  		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
	  	</p>
	  	<button type="submit" id="submit" value="Submit" class="btn btn-success btn-lg btn-block" style="margin: 0 auto;display: block;">{{ _txt['Add'][lng] }}</button>
  	</form>
  </div>
  
  
</div>
