<div>
  <h1>{{ pageTitle }}</h1>
  
  <div>
    <h3 align="center">{{ _txt['setting_shops'][lng] }}</h3>
  	<div ng-if="shops.length==0">{{ _txt['setting_no_shops'][lng] }}</div>
  	
  	<table class="table table-hover table-striped" ng-if="shops.length>0">
  		<tr ng-repeat="shop in shops">
  			<td>
  				<span class="settings-shop-name">{{ shop.name }}</span>
  				<span class="settings-shop-url">{{ shop.url }}</span>
          <span class="settings-shop-type-{{ shop.type }}"></span>
  			</td>
        <td width="40" align="right">
          <a class="settings-shop-download btn btn-default btn-lg" href="{{ downloadUrl }}" target="_blank" ng-click="sets.download(shop.type)">
            <i class="icon-download3"></i>
          </a>
        </td>
  			<td width="40" align="right">
  				<span class="settings-shop-remove btn btn-danger btn-lg" ng-click="sets.remove(shop)"><i class="icon-trash"></i></span>
  			</td>
  		</tr>
  	</table>

  	<h3 align="center">
      <span class="btn btn-primary btn-lg btn-block" ng-click="sets.addFromShow = !sets.addFromShow">
        <span ng-if="!sets.addFromShow">{{ _txt['Add_shop'][lng] }}</span>
        <i class="icon-cross" ng-if="sets.addFromShow"></i>
      </span>
    </h3>

  	<form name="settingsForm" id="settingsForm" class="settings-form" ng-submit="sets.submit()" ng-if="sets.addFromShow">

      <p class="form-group">
        <input type="text" name="name" class="form-control" placeholder="{{ _txt['setting_shop_name'][lng] }}" ng-model="sets.settingsForm.name">
      </p>

  		<p class="form-group">
        <small>{{ _txt['setting_shop_behawk'][lng] }}</small><br>
        <input type="text" name="behawk" class="form-control" placeholder="behawk" ng-model="sets.settingsForm.behawk">
      </p>

	  	<p class="form-group has-feedback">
        <select name="urltype" class="form-control settings-urltype" ng-model="sets.settingsForm.urltype">
          <option ng-repeat="urltype in ['http://','http://www.','https://','https://www.']" value="{{ urltype }}">{{ urltype }}</option>
        </select>
	  		<input type="text" name="url" class="form-control settings-url" placeholder="{{ _txt['setting_shop_url'][lng] }}" ng-model="sets.settingsForm.url">
	  		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
	  	</p>

	  	<p class="form-group has-feedback">
	  		<select name="type" class="form-control" ng-model="sets.settingsForm.type">
		  		<option ng-repeat="type in types" value="{{ type.id }}" >{{ type.name }}</option>
	  		</select>
	  		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
	  	</p>

	  	<button type="submit" id="submit" value="Submit" class="btn btn-success btn-lg btn-block">
        {{ _txt['Add'][lng] }}
      </button>

  	</form>
  </div>
  
  
</div>
